{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="h1-main work-log">Works log</h1>
    {% for item in jobs%}
    <table class="main-table">
        <caption>Action # {{ item.id }}</caption>
        <tbody>
            <tr>
                <th class="main-th">Title of activity</th>
                <th class="main-th">Team leader</th>
                <th class="main-th">Duration</th>
                <th class="main-th">List of collaborators</th>
                <th class="main-th">Is finished</th>
            </tr>
            <tr>
                <td class="main-td">{{ item.job }}</td>
                <td class="main-td">{{ item.team_lead.name }} {{ item.team_lead.surname }}</td>
                <td class="main-td">{{ item.work_size }} hours</td>
                <td class="main-td">{{ item.collaborators }}</td>
                <td class="main-td">Is
                    {% if not item.is_finished: %}
                     not
                    {% endif %}
                     finished
                </td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
    <a class='btn btn-primary form' href='/add_job'> Создать работу</a>
</div>

{% endblock %}